  <div class="d-flex justify-content-center">
    <h3 class="navy">Currito'S recientes</h3>
  </div>
  <div
    class="p-5 card-group d-flex justify-content-evenly row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-2" >

    <div class="col mt-5" style="height: 370px;" *ngFor="let anuncio of this.anunciosRecientes" #elseBlock>
      <div class="card cardAnuncio">
        <div class="card-body p-3 pb-0">
          <div class="d-flex row">
            <div class="d-flex row">
              <div class="col-6 col-sm-8" style="padding-left: 1.5em; padding-right: 1.5em; height: 150px;" [routerLink]="['/anuncio-detalle', anuncio.id]">
                <div class=" text-center" style="border: 2px solid rgba(114, 113, 113, 0.342); height: 100%; border-radius: 4px;">
                <img *ngIf="getImage(anuncio.file!)!= null"
                src={{getImage(anuncio.file!)}}
                style="max-height: 145px; width: auto;"
                alt="Imagen" class=" p-2 mt-auto mb-auto img-fluid">
                <img *ngIf="getImage(anuncio.file!)== null"
                src="../../../assets/img/default.png"
                style="max-height: 145px; width: auto;"
                alt="Imagen" class=" p-2 mt-auto mb-auto img-fluid">
              </div>
              </div>
            <div class="col-6 col-sm-4 navy">
              <div class="d-flex justify-content-end pe-2"><i (click)="addFavoritos(anuncio, $event)" class="bi bi-heart corazonFavorito" ></i></div>
              <div class="d-flex justify-content-center"  [routerLink]="['/anuncio-detalle', anuncio.id]"><h4 class="text-white rounded text-center w-100" style="background: navy">{{anuncio.precio}}€</h4></div>
              <div class="d-flex justify-content-center w-100"  [routerLink]="['/anuncio-detalle', anuncio.id]"><h5 class=" letraResponsivaTipoPrecio">{{anuncio.tipoPrecio}}</h5></div>
            </div>
          </div>
          <div class=" p-3  pt-0 navy"  [routerLink]="['/anuncio-detalle', anuncio.id]">
            <h3 class="card-title text-start letraResponsiva textoConPuntosTitulo">{{anuncio.titulo}}</h3>
            <p class="card-text letraResponsivaDescripcion textoConPuntos" style="  text-overflow: ellipsis; overflow: hidden;" >
              {{anuncio.descripcion}}
              
            </p>
            <hr>
            <h5 class="w-100 text-center letraResponsivaUbicacion"><i class="bi bi-geo-alt-fill"></i>{{anuncio.ubicacion}}</h5>
          </div>
        </div>
      </div>
    </div>

   
  </div>

  <div class="d-flex justify-content-center p-5">
    <a href="#" class="text-decoration-none" style="color: navy">Ver más...</a>
  </div>
