<section class="vh-75">
  <div class="container py-1 h-75">
    <div class="row d-flex justify-content-center align-items-center h-75">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5 w-75">
        <div class="card shadow-2-strong border-3" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h2 class="mb-3">¡Registrate con nosotros!</h2>

            <form autocomplete="off"  [formGroup]="miFormulario" (ngSubmit) = "submitFormulario()"  class="row g-3">
            
            <!-- Nombre -->
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
              <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Solo letras
              </span>
            </div>

            <!-- Apellidos -->
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
              <span class="form-text text-danger"
                          *ngIf="campoNoValido('apellidos')">
                        Debes introducir dos apellidos
              </span>
            </div>

            <!-- Email -->
            <div class="col-md-8">
              <input type="email" class="form-control" formControlName="email" placeholder="Email">
              <span class="form-text text-danger"
                           *ngIf="campoNoValido('email')">
                        {{ emailErrorMsg }}
              </span>
              
            </div>

            <!-- Telefono -->
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfono">
              <span class="form-text text-danger"
                           *ngIf="campoNoValido('telefono')">
                         Deben ser 9 dígitos.
              </span>
            </div>

            <!-- Password -->
            <div class="col-md-6">
              <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
              <span class="form-text text-danger"
                           *ngIf="campoNoValido('password')">
                         La contraseña debe de ser mayor de 6 caracteres.
              </span>
            </div>

            <!-- Password2 -->
            <div class="col-md-6">
              <input type="password" class="form-control" formControlName="password2" placeholder="Confirma contraseña">
              <span class="form-text text-danger"
                *ngIf="campoNoValido('password2')">
                 Las contraseñas deben de ser iguales
                </span>
            </div>

            <!-- Direcccion -->
            <div class="col-md-8 text-start">
              <label for="inputEmail4" class="form-label ms-2">Dirección por defecto</label>
              <input type="text" class="form-control" formControlName="direccion" placeholder="Dirección">
              <span class="form-text text-danger"
                *ngIf="campoNoValido('direccion')">
                 La dirección es requerida
                </span>
            </div>

            <!-- Nacimiento -->
            <div class="col-md-4 text-start">
              <label for="inputPassword4" class="form-label ms-2">Nacimiento</label>
              <input type="date" class="form-control" formControlName="nacimiento">
             
            </div>
           

            <button class="btn btn-primary btn-lg btn-block w-50 ms-auto me-auto" type="submit" [disabled]="!miFormulario.valid">Registrarme</button>
          </form>

            <hr class="my-4">

              <div class="d-grid gap-2">
                  <button class="btn btn-primary w-75 ms-auto me-auto" style="background-color: #dd4b39;" type="submit"><i class="bi bi-google pe-1"></i> Sign in with google</button>

                  <button class="btn btn-primary mb-2 w-75 ms-auto me-auto" style="background-color: #3b5998;" type="submit"><i class="bi bi-facebook pe-1"></i>Sign in with facebook</button>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





