/* You can add global styles to this file, and also import other style files */
.navy{
    color: navy;
  }

  .textoConPuntos {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 3.7em;
    margin: 0 auto;
   
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .textoConPuntosTitulo{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 1.2em;
    margin: 0 auto;
   
    line-height: 1.2;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .letraResponsiva {
    font-size: calc(0.7em + 1vw);
}

.letraResponsivaDescripcion {
    font-size: calc(0.5em + 0.7vw);
}

.letraResponsivaTipoPrecio {
    font-size: calc(0.4em + 0.6vw);
}

.letraResponsivaUbicacion {
    font-size: calc(0.5em + 0.8vw);
}

  
  

  @media (min-width: 992px){
    .profileAdapterlg{
      margin-left: 20%;
      margin-right: 0;
      width: 75%;
    }
    
  }
  @media (min-width: 961px) and (max-width: 991px){
    .profileAdaptermd{
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      /* display: block !important; */
    }
  }

  @media (max-width: 960px){
    
  }