<section class="vh-75">
    <div class="py-1 h-75">
      <div class="row d-flex justify-content-center align-items-center h-75 w-100  ms-auto me-auto">
        <div class="col-12 col-sm-12 col-md-8 col-lg-11 col-xl-10">
          <div class="card shadow-2-strong border-3 d-flex" style="border-radius: 1rem;">
            <div class="card-body p-5 pe-0 text-center row row-cols-sm-1 row-cols-md.2 row-cols-lg-2 w-100 justify-content-center">
  
              <div class="col w-25">
                <div class="p-3">
                  <img class="img-fluid rounded-circle" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2018/08/fotos-perfil-whatsapp_16.jpg?itok=fl2H3Opv" alt="foto de perfil">
                </div>
                <a href="#" class="btn btn-success">Cambiar foto</a>
              </div>
  
              <form class="col w-75" autocomplete="off"  [formGroup]="miFormulario" (ngSubmit) = "submitFormulario()"  class="row g-3">
              
              <!-- Nombre -->
              <div class="col-md-4">
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                <span class="form-text text-danger"
                            *ngIf="campoNoValido('nombre')">
                          Solo letras
                </span>
              </div>
  
              <!-- Apellidos -->
              <div class="col-md-8">
                <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
                <span class="form-text text-danger"
                            *ngIf="campoNoValido('apellidos')">
                          Debes introducir dos apellidos
                </span>
              </div>
  
              <!-- Email -->
              <div class="col-md-8">
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                <span class="form-text text-danger"
                             *ngIf="campoNoValido('email')">
                          {{ emailErrorMsg }}
                </span>
                
              </div>
  
              <!-- Telefono -->
              <div class="col-md-4">
                <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfono">
                <span class="form-text text-danger"
                             *ngIf="campoNoValido('telefono')">
                           Deben ser 9 dígitos.
                </span>
              </div>
  
              <!-- Password -->
              <div class="col-md-6">
                <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                <span class="form-text text-danger"
                             *ngIf="campoNoValido('password')">
                           La contraseña debe de ser mayor de 6 caracteres.
                </span>
              </div>
  
              <!-- Password2 -->
              <div class="col-md-6">
                <input type="password" class="form-control" formControlName="password2" placeholder="Confirma contraseña">
                <span class="form-text text-danger"
                  *ngIf="campoNoValido('password2')">
                   Las contraseñas deben de ser iguales
                  </span>
              </div>
  
              <!-- Direcccion -->
              <div class="col-md-8 text-start">
                <label for="inputEmail4" class="form-label ms-2">Dirección por defecto</label>
                <input type="text" class="form-control" formControlName="direccion" placeholder="Dirección">
                <span class="form-text text-danger"
                  *ngIf="campoNoValido('direccion')">
                   La dirección es requerida
                  </span>
              </div>
  
              <!-- Nacimiento -->
              <div class="col-md-4 text-start">
                <label for="inputPassword4" class="form-label ms-2">Nacimiento</label>
                <input type="date" class="form-control" formControlName="nacimiento">
               
              </div>
              
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  
  
  
  
  
  
